node_modules/
dist/
build/
coverage/
*.log
credentials.json
.env

# generated TS files in src and scripts (any workspace)
**/src/**/*.js
**/src/**/*.js.map
**/src/**/*.d.ts
**/src/**/*.d.ts.map

**/scripts/**/*.js
**/scripts/**/*.js.map
**/scripts/**/*.d.ts
**/scripts/**/*.d.ts.map

# Prisma
packages/core/prisma/generated/



